
html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

button {
    border-radius: 2vh;
    padding: 1vw 4vh 1vw 4vh;
    border: none;
    font-weight: 500; 
    background-color: #233d4d;
    color: white; transition: 0.3s;
    margin: 0.5vw;

}

@media (max-width: 1000px) {

    #headporto {
    background-image: url(assets/framefix.png);
     
    
}

   

    button {
        padding: 2vh 9vh 2vh 9vh;
        font-size: 2vh;
         transition: 0.3s;
    }

    #headporto {
        gap: 2vh;
        display: flex;
        flex-direction: column;
        padding: 5vh 1vw 5vh 1vw;
    }
}

.normal {
    border: 3px solid #233d4d;
    background-color: transparent;
    color: rgb(255, 255, 255);
}   

.normal:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.4;

    
}

button:hover {
    background-color: #3b5769;
    cursor: pointer;
    transition: 0.3s;
     transform: scale(1.1);
}

header {
    background-color: #233d4d;
    color: rgb(255, 255, 255);
    font-size: 1vh;
    padding: 0.5vh;
    position: sticky;
    top: 0;
    z-index: 1000;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

header nav {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    margin-left: 3vw;
    margin-right: 3vw;

    
    

}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 2vh;
    display: flex; 
    gap: 6vw;
    font-weight: 500; 
    font-size: 2vh;
    transition: 0.3s;
}
header nav ul li {
    transition: 0.4s;

}

header nav ul li:hover {
    color: #181A1F;
    transform: scale(1.1);
    cursor: pointer;

}

@media (max-width: 1000px) {
    header nav ul {
        display: none;  
    }

}

#headporto {
    background-image: url(assets/Frame\ 1.png);
    background-size: cover;
    object-fit: cover;
    padding: 20vh 1vw 20vh 5vw;
    font-size: 3vh;
     
    
}

#headporto p {
    margin-bottom: 3vh;
}

section {
    color: white;
   
    
    

}

#aboutme {
    background-color: #181A1F;
    display: flex;
    gap: 0;
    padding: 10vh;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    
    
}

#aboutme section {
     box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
     text-align: justify;
    padding: 9vh;
    
}

#aboutme h1 {
   
    margin-bottom: 2vh;
}

#aboutme img {
    width: 16.3vw;
    height: auto;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
    
}

@media (max-width: 1200px) {
   
    #aboutme {
        flex-direction: column;
        gap: 5vh;
        padding: 5vh;
        font-size: 2.5vh;
         transition: 0.3s;
    }
    #aboutme img {
        width: 60vw;
        height: auto;
         transition: 0.3s;
    }
    #aboutme section {
        padding: 5vh;
         transition: 0.3s;
    }
}

#skill {
    background-color: white;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    text-align: center;
    gap: 2vh;
    box-shadow: none;
}

#skill section {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
    box-shadow: none;
    padding: 2vh;
    overflow-x: auto;
    white-space: nowrap;

    
}



@media (max-width: 1300px) {
    #skill section {
        flex-direction: column;
        gap: 2vh;
         transition: 0.3s;
    }
    #skill section p {
        width: 60vw;
        min-width: 120px;
         transition: 0.3s;
    }
}
#skill h1 {
    margin-bottom: 1vh;
    color: black;
}
#skill section p.red {
    background-color: #233d4d;
}

#skill section p {
    background-color: #181A1F;
    color: rgb(255, 255, 255);
    padding: 1vh 2vh;
    border-radius: 1vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    
}


#skill section p:hover {
    background-color: #1a3475;
    cursor: default;
    transition: 0.3s;
    opacity: 0.8;
}

#portofolio {
    background-color: #181A1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    gap: 5vh;
    padding: 10vh;
    
}

#portofolio section {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    box-shadow: none;
    padding: 2vh;
    border: 3px solid #233d4d;
    padding: 3vh 5vw 1vh 5vw;
    
    
}

#portofolio section img {
    width: 50vw;
    height: auto;
    border-radius: 1vh;
    
}

#portofolio section button {
    margin-bottom: 1vh;
    
}


#contact {
    color: black;
    box-shadow: none;
    font-size: 3vh;
    align-items: center;
    justify-content: center;
     display: flex;
    flex-direction: column;
    font-size: 2vh;
    padding: 5vh;
    gap: 2vh;
   
}


#contact section {
 
    color: white;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1vh;
     transition: 0.3s;
    
}

#contact section button {
    padding: 1vh 5vh 1vh 5vh;
    font-size: 2vh;
}

#contact section section {
    display: flex;
    flex-direction: column;
}


#contact section section a {
    text-decoration: none;
    color: white;   
}

@media (max-width: 1000px) {
    #contact section {
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }
    #contact section button {
        width: 80vw;
        min-width: 180px;
        justify-content: center;
        font-size: 2.2vh;
    }
}

#footer {
    background-color: #233d4d;
    color: white;
    text-align: center;
    padding: 1vh;
    font-size: 1.5vh;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
}

