* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

#mainpicture {
    background-color: rgb(218, 218, 218);
    font-size: 3vh;
    text-align: left;
    padding:40vh;
    padding-left: 10vh;
    
}

#about {
    background-color: rgb(240, 240, 240);
    padding: 2vh 2vw;
    padding-left: 5vw;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    
}

#about p{
    font-size: 2vh;
    text-align: justify;
    width: 40vw;
}

#about img {
    width: 50vw;
    height: 50vh;
    padding: 4vw;
}

#harga {
    background-color: rgb(218, 218, 218);
    padding: 2vh 2vw;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#harga button {
    background: #ff5252;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.7em 1.5em;
    font-size: 2vh;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 600;
}

#harga button a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background 0.2s;
    font-weight: 500;
}

#personaltrainer {
 
    background-color: rgb(240, 240, 240);
    padding: 2vh 2vw;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: rgb(157, 92, 92);
    padding: 3vh;
    border-radius: 2vh;
    margin: 3vh;
    
}

#personaltrainer div {
    background-color: rgb(157, 92, 92);
    padding: 1vh;
    border-radius: 2vh;
    
}

#goals {
    background-color: rgb(218, 218, 218);
    padding: 2vh 2vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

#goals div {
    padding-top: 2vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2vw;
}

#goals div div {
    background-color: rgb(119, 93, 93);
    padding: 1vh;
    border-radius: 2vh;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #181A1F;
    padding: 0;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1vh 3vw;
    width: 100%;
}

header nav img {
    height: 48px;
    width: auto;
    margin-right: 0.5vw;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 3vw;
    margin: 0;
    padding: 0;
}


nav ul li {
    font-size: 2vh;
    margin: 0;
    display: flex;
    align-items: center;
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background 0.2s;
    font-weight: 500;
}
nav ul li a:hover {
    background: #282c34;
}


nav button {
    background: #ff5252;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.7em 1.5em;
    font-size: 2vh;
    cursor: pointer;
    margin-left: 2vw;
    transition: background 0.2s;
    font-weight: 600;
}
nav button:hover {
    background: #e53935;
}

footer {
    background-color: rgb(238, 159, 159);
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 2vh;
}

footer .footer-about {
    font-size: 1.5vh;
    display: flex;
    padding: 2vh;
    background-color: rgb(190, 190, 190);
}

footer div p {
    margin: 0 2vh;
    text-align: justify;
    padding: 1vh;
}

footer p {
    padding: 1vh;
} 

section {   
    padding: 1vh;
    text-align: center;
    background-color: antiquewhite;
  
}