*{
    margin: 0;
    
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: rgb(201, 224, 239);
    padding: 4vh;
    text-align: center;
    color:rgb(0, 0, 0)
    
}

nav {
    text-align: center;
    padding: 2vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
}

nav a {
    text-decoration: none;
    transition: 0.3s;
    color: aliceblue ;
    margin: 1vw;
    font-size: 2vh;
    background-color: rgb(0, 110, 253);
    border-radius: 2vh;
    padding: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    font-weight: bold;
    
    
}

nav a:hover {
     color:rgb(255, 255, 255);
     background-color: black;

}

nav a:active {
     color:rgb(255, 255, 255);
     background-color: black;

}
.mainclass {
    background-image: url(bg.jpg);;

}


main {
    margin-left: 10vw;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: 50% 50%;
    transition: 0.3s;

    
}

section{
    margin: 4vh;
    padding: 5vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section article {   
    border: 1px;
    padding: 1vw;
    border-color: black;
    border-radius: 1vh;
    border-style: solid;
    margin-top:1vh ;
}

aside{
    margin: 4vh;
    margin-left:0 ;
    padding: 5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 20vh;
    background-color: white;

    
}

div aside .gambar {
    background-image: url(logoupimerah.png);
    width: 200px;
    background-color: aqua;
}

footer {
    background-color: rgb(255, 255, 255);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3vh;
     text-align: center;
}

@media only screen and (max-width: 700px) {
  main {
    display: inline;
    transition: 0.3s;
  }

  aside {
    margin-left: 4vh;
     height: auto;
  }

}